

/*! ===== filters ===== */
.filters {
	@include media(768) {
		display: none;
	}
}

.filter {
	margin-top: 20px;
	border-top: 2px solid $pink;
	color: #444;

	@include media(768) {	
		margin-top: 0;
		border-top: none;
	}
}

.filter__title {
	margin-top: 20px;
	font: 18px $OpenSans-Bold;

	.icon {
		float: right;
		width: 25px;
		height: 20px;
		transform: rotate(-90deg);
	}

	&:hover {
		cursor: pointer;
	}

	&_opened {
		.icon {
			transform: rotate(90deg);
		}
	}
}

.filter .filter__list {
	@include media(768) {	
		padding-bottom: 20px;
		border-bottom: 2px solid $pink;
	}
}

.filter__item {
  margin-top: 15px;
  
  &_active, &:hover {
    color: $lazure;
  }

 .icon {
  	width: 20px;
  	height: 20px;
  	padding: 2px;
  	border: 2px solid #dbdbdb;
  	border-radius: 5px;
  	fill: $lazure;
  }

	&_active .icon {
		border-color: $lazure;
	}
}

.filter__label {
  display: block;

  &:hover {
    cursor: pointer;
  }
}

.filter__label-text {
  display: block;
}

.filter__label-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.filter__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.filter-prices {
	margin-top: 15px;
}

.filter-prices__text {
	margin-left: 5px;
}

.filter-prices__input {
	width: 60px;
	height: 30px;
	line-height: 30px;
	border: 2px solid #dbdbdb;
	border-radius: 5px;
	padding: 0 5px;
}

.filter-prices__button {
	width: 50px;
	height: 30px;
	line-height: 20px;
	border-radius: 5px;
	background-color: $lazure;
	color: #fff;
	text-transform: uppercase;
	text-align: center;

	&:hover {
		cursor: pointer;
		background-color: darken($lazure, 10%);
	}
}

.filters-btns {
	margin-top: 25px;
}

.filters-btn {
	display: inline-block;
	max-width: 45%;
	width: 130px;
	height: 35px;
	line-height: 35px;
	background-color: #fff;
	border: 2px solid $pink;
	border-radius: 35px;
	font: 16px $OpenSans-Semibold;

	&:hover {
		color: #fff;
		cursor: pointer;
		transition: all 0.5s;
	}

	&_reset {
		float: left;
		color: $lazure;
		border-color: $lazure;

		&:hover {
			background-color: $lazure;
		}
	}
	
	&_submit {
		float: right;
		color: $pink;

		&:hover {
			background-color: $pink;
		}
	}
}


/*! ===== breadcrumbs ===== */
.breadcrumbs {
	@include media(768) {
		display: none;
	}
}

.breadcrumbs__list {
	font-size: 0;
}

.breadcrumbs__item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;

	&:not(:first-child) {
		margin-left: 5px;
		padding-left: 15px;

		&:after {
			content: '>';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			color: #444;
		}
	}

	&_active .breadcrumbs__link {
		color: #444;
	}
}

.breadcrumbs__link {
	display: inline-block;
	vertical-align: middle;
	color: $lazure;

	&:first-letter {
		text-transform: capitalize;
	}
}


/*! ===== catalog ===== */
.catalog {

}

.catalog__header {
	color: #444;
}

.catalog__title {
	float: left;
}

.catalog__params {
	float: right;
	margin-top: 25px;
}

.catalog__paging {
	display: inline-block;
	vertical-align: middle;

	span {

	}
}

.catalog__paging-link {
	display: inline-block;
	margin-left: 10px;
	color: $lazure;
	text-decoration: underline;

	&_active {
		color: #444;
		text-decoration: none;
	}
}

.catalog__view {
	display: inline-block;
	vertical-align: middle;
	margin-left: 45px;
}

.catalog__view-link {
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;

	.icon {
		width: 25px;
		height: 25px;
		fill: $lazure;
	}

	&_active {
		cursor: default;
		.icon {
			fill: #444;
		}
	}
}

.catalog__products {
	margin-top: 40px;

	&_linear {
		.product-mini {
			float: none;
			width: 100%;
			text-align: left;
		}

		.product-mini__img-holder {
			float: left;
			width: 30%;
			height: 182px;
		}

		.product-mini__desc {
			float: right;
			width: 70%;
			padding-left: 30px;
		}

		.product-mini__body {
			display: block;
		}

		.product-mini__price {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}

		.product-mini__button {
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 0 25px;
		}


	}
}

.product-mini__badge {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 10px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	color: #fff;
	font-family: $OpenSans-Semibold;
	text-transform: uppercase;
	text-align: center;
	
	&_new {
		background-color: $lazure;
	}

	&_sale {
		background-color: $pink;
	}

	&_top {
		background-color: orange;
	}

	&_rec {
		background-color: green;
	}


}

.mobile-cat-nav {
	display: none;
	width: 100%;

	&__btn_back {
		float: left;
		color: $lazure;
		fill: $lazure;

		.icon {
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 25px;
			transform: rotate(-180deg);
		}

		&-title {
			display: inline-block;
			vertical-align: middle;
			margin-left: 35px;
			font-family: $OpenSans-Bold;
			text-transform: capitalize;

			&:visited {
				color: $lazure;
			}
		}
	
		&:hover {
			color: $pink;

			.icon{
				fill: $pink;
				animation: arrow_back 2s ease-in-out infinite;
				transition: all 0.5s;
			}
		}
	}

	&__btn_filters {
		float: right;
		color: $lazure;
		fill: $lazure;

		.icon {
			display: inline-block;
			vertical-align: middle;
			width: 30px;
			height: 30px;
		}

		&:hover {
			color: $pink;
			
			.icon{
				fill: $pink;
			}
		}
	}
}



@keyframes arrow_back {
	0% {
		transform: translateX(20px) rotate(-180deg);
		opacity: 1;
	}
	100% {
		transform: translateX(0) rotate(-180deg);
		opacity: 0.2;
	}
}

.catalog-in .sidebar__catalog,
.infopage .sidebar__catalog {
	@include media(768) {
		display: none;
	}
}

.catalog-in .mobile-cat-nav {
	@include media(768) {
		display: block;
	}
}

.infopage{

	.mobile-cat-nav {
		@include media(768) {
			display: block;
		}
	}

	.mobile-cat-nav__btn_filters {
		display: none;
	}
}