/*! ===== catalog ===== */
.categories {
	margin-top: 5px;
}

.categories__list {
	text-align: center;
}

.categories_top {

	@include media(768) {
		display: none;
	}

	.categories__item {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0.5%;
	}
		
	.categories__link {
		display: inline-block;
		padding: 5px 10px;
		color: #000;
		border-radius: 50px;
		
		&:hover {
			background-color: $pink;
			color: #fff;

			.icon {
				fill: #fff;
			}
		}

		.icon {
			max-height: 25px;
			max-width: 25px;
			fill: #000;
		}
	}

}



.categories__item-name {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}


/*! ===== aside.sidebar ===== */
aside.sidebar {
	float: left;
	width: 25%;
	min-width: 285px;
	margin-top: 70px;
	padding: 0 15px;

	.categories__list {

		.categories__link > .icon {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%) rotate(90deg);
			width: 15px;
			height: 15px;

			&:hover {
				fill: $pink;
			}

			&_up {
				transform: translateY(-50%) rotate(-90deg);
			}
		}
	}

	@include media(768) {
		float: none;
		width: 100%;
		margin-top: 25px;
	}
}

.sidebar__title {
	height: 35px;
	background-color: $pink;
	border-radius: 50px;
	font: 18px $OpenSans-Bold;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 35px;


	@include media(768) {
		display: none;
	}
}

.sidebar .categories__list {
	text-align: left;
}

.sidebar .categories__item {
	// display: block;
	margin-top: 5px;
	
	&:hover > .categories__link {
		color: $pink;
		background-color: #fff;
		// font-family: $OpenSans-Semibold;

		.icon_animal {
			fill: $pink;
		}
	}

	.categories__item {
		margin-left: 30px;
	
		&:not(.categories__item_parent) {
		 .categories__link {
	  	border-bottom: 1px dashed #444;
	  	font-family: $OpenSans-Regular;

		  	&:hover {
					background-color: rgba($pink, 0.75);
					border-radius: 50px;
					border-bottom-color: transparent;
					color: #fff;
					font-family: $OpenSans-Semibold;
				}
			}
		}
	}
}

.sidebar .categories__link {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 5px;
	border-radius: 0;
	font-family: $OpenSans-Bold;
	color: #444;

	&:hover {
		background-color: #fff;

	}

	& .icon_animal {
		display: none;
		vertical-align: middle;
    max-height: 25px;
    max-width: 25px;
    fill: #000;
    margin-right: 10px;

  	@include media(768) {
			display: inline-block;
		}
	}
}


/*! ===== main content ===== */
.main {
	float: right;
	width: 75%;
	margin-top: 70px;
	padding: 0 15px;

	@include media(1200) {
		width: 70%;	
	}
	
	@include media(992) {
		width: 65%;	
	}
	
	@include media(850) {
		width: 62%;	
	}

	@include media(768) {
		width: 100%;	
	}


}

/*! ===== products mini ===== */
.products {

}

.products__title {
	margin-top: 40px;
	font: 25px $OpenSans-Bold;
	color: #444;
	text-transform: uppercase;
}

.product-mini {
	float: left;
	width: 33.33%;
	padding: 0 15px;
	margin-top: 25px;
	color: #444;
	text-align: center;

	@include media(992) {
		width: 50%;	
	}

	@include media(768) {
		width: 33.33%;	
	}

	@include media(680) {
		width: 50%;	
	}

	@include media(480) {
		width: 100%;	
	}
}

.product-mini__img-holder {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 340px;
	padding: 5px;
	overflow: hidden;
	box-shadow: 0 0 2px 0 rgba(#000, 0.1);
	transition: all 0.5s;

	&:hover {
		box-shadow: inset 0 0 15px rgba($lazure, 0.5);
	}
}

.product-mini__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.product-mini__body {
	display: none;
	margin: 15px 0;
}

.product-mini__title {
	display: inline-block;
	margin-top: 15px;
	font-family: $OpenSans-Semibold;
	color: #444;

	&:hover {
		color: $lazure;
	}
}

.product-mini__price {
	margin-top: 5px;
	font: 20px $OpenSans-Semibold;
	color: $lazure;
}

.product-mini__button {
	width: 200px;
	height: 50px;
	margin-top: 15px;
	border: 2px solid $pink;
	background-color: #fff;
	border-radius: 50px;
	text-align: center;
	color: $pink;
	font: 18px $OpenSans-Semibold;
	line-height: 40px;

	&:hover {
		background-color: $pink;
		color: #fff;
	}
}


.products__btn-holder {
	text-align: center;
}

.product-mini__more {
	display: block;
	width: 236px;
	height: 50px;
	margin: 25px auto;
	background-color: $pink;
	border-radius: 50px;
	font: 18px $OpenSans-Semibold;
	color: #fff;
	line-height: 40px;
	border: 2px solid #fff;

	&:hover {
		background-color: #fff;
		border-color: $pink;
		color: $pink;

		.icon {
			fill: $pink;
			animation: rotate_once 1s;
		}
	}

	&:active {
		.icon {
			animation: rotate_infinite 1s linear infinite;
		}
	}

	.icon {
		width: 26px;
		height: 30px;
		margin-right: 10px;
		fill: #fff;
	}
}

@keyframes rotate_once {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate_infinite {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*! ===== brands ===== */
.brands {

}

.brands__list {
	font-size: 0;
}

.brands__item {
	display: inline-block;
	width: 33.33%;
	margin-top: 25px;
	font-size: 16px;
}

.brands__link {
	display: inline-block;
}

.brands__img {

}

.banners {
	@include media(768) {
		display: none;
	}
}