// ====== aside ======= 
aside.sidebar
	.sidebar__title каталог товаров

	ul.categories__list
		li.categories__item
			a.categories__link(href="#") Собаки

		li.categories__item.categories__item_parent
			a.categories__link(href="#") Кошки
				+symbol('arrow','icon')
			ul.categories__list
				li.categories__item.categories__item_parent
					a.categories__link(href="#") Корм сухой
						+symbol('arrow','icon')
					ul.categories__list
						li.categories__item
							a.categories__link(href="#") Корм очень сухой
						li.categories__item
							a.categories__link(href="#") Корм средней сухости
						li.categories__item
							a.categories__link(href="#") Корм не сухой
				li.categories__item
					a.categories__link(href="#") Корм консервированный
				li.categories__item
					a.categories__link(href="#") Заменители молока
				li.categories__item
					a.categories__link(href="#") Гигиенические наполнители
				li.categories__item
					a.categories__link(href="#") Витамины, минералы
				li.categories__item
					a.categories__link(href="#") Лакомства
				li.categories__item
					a.categories__link(href="#") Игрушки
				li.categories__item
					a.categories__link(href="#") Когтеточки
				li.categories__item
					a.categories__link(href="#") Места
				li.categories__item
					a.categories__link(href="#") Переноски, сумки
				li.categories__item
					a.categories__link(href="#") Расчески, щетки, пуходерки
				li.categories__item
					a.categories__link(href="#") Миски, поилки и кормушки
				li.categories__item
					a.categories__link(href="#") Намордники
				li.categories__item
					a.categories__link(href="#") Шампуни
				li.categories__item
					a.categories__link(href="#") Косметика и средства гигиены
				li.categories__item
					a.categories__link(href="#") Средства для дома

		li.categories__item
			a.categories__link(href="#") Аквариумистика

		li.categories__item
			a.categories__link(href="#") Птицы

		li.categories__item
			a.categories__link(href="#") Грызуны

		li.categories__item
			a.categories__link(href="#") Фретки

		li.categories__item
			a.categories__link(href="#") Рептилии

		li.categories__item
			a.categories__link(href="#") Пруд

		li.categories__item
			a.categories__link(href="#") Лошади