// ====== sidebar catalog ======= 
.sidebar__catalog
	.sidebar__title каталог товаров

	ul.categories__list
		li.categories__item
			a.categories__link(href="catalog.html") 
				+symbol('animals--dog','icon_animal')
				span Собаки

		li.categories__item.categories__item_parent
			a.categories__link(href="catalog.html")
				+symbol('animals--cat','icon_animal')
				span Кошки
				+symbol('arrow','icon icon_up')
			ul.categories__list
				li.categories__item.categories__item_parent
					a.categories__link(href="catalog.html") Корм сухой
						+symbol('arrow','icon icon_up')
					ul.categories__list
						li.categories__item
							a.categories__link(href="catalog.html") Корм очень сухой
						li.categories__item
							a.categories__link(href="catalog.html") Корм средней сухости
						li.categories__item
							a.categories__link(href="catalog.html") Корм не сухой
				li.categories__item
					a.categories__link(href="catalog.html") Корм консервированный
				li.categories__item
					a.categories__link(href="catalog.html") Заменители молока
				li.categories__item
					a.categories__link(href="catalog.html") Гигиенические наполнители
				li.categories__item
					a.categories__link(href="catalog.html") Витамины, минералы
				li.categories__item
					a.categories__link(href="catalog.html") Лакомства
				li.categories__item
					a.categories__link(href="catalog.html") Игрушки
				li.categories__item
					a.categories__link(href="catalog.html") Когтеточки
				li.categories__item
					a.categories__link(href="catalog.html") Места
				li.categories__item
					a.categories__link(href="catalog.html") Переноски, сумки
				li.categories__item
					a.categories__link(href="catalog.html") Расчески, щетки, пуходерки
				li.categories__item
					a.categories__link(href="catalog.html") Миски, поилки и кормушки
				li.categories__item
					a.categories__link(href="catalog.html") Намордники
				li.categories__item
					a.categories__link(href="catalog.html") Шампуни
				li.categories__item
					a.categories__link(href="catalog.html") Косметика и средства гигиены
				li.categories__item
					a.categories__link(href="catalog.html") Средства для дома

		li.categories__item
			a.categories__link(href="catalog.html")
				+symbol('animals--goldfish','icon_animal')
				span Аквариумистика

		li.categories__item
			a.categories__link(href="catalog.html")
				+symbol('animals--bird','icon_animal')
				span Птицы

		li.categories__item
			a.categories__link(href="catalog.html")
				+symbol('animals--rodents','icon_animal')
				span Грызуны

		li.categories__item
			a.categories__link(href="catalog.html")
				+symbol('animals--trifles','icon_animal')
				span Фретки

		li.categories__item
			a.categories__link(href="catalog.html")
				+symbol('animals--reptiles','icon_animal')
				span Рептилии

		li.categories__item
			a.categories__link(href="catalog.html")
				+symbol('animals--fish','icon_animal')
				span Пруд

		li.categories__item
			a.categories__link(href="catalog.html")
				+symbol('animals--horse','icon_animal')
				span Лошади

._row.mobile-cat-nav
	a.mobile-cat-nav__btn_back(href="catalog.html")
		+symbol('arrow', 'icon')
		span.mobile-cat-nav__btn_back-title arden grange

	a.mobile-cat-nav__btn_filters(href="catalog.html")
		+symbol('filter', 'icon')