// ====== sidebar catalog ======= 
.sidebar__catalog
	.sidebar__title каталог товаров

	ul.categories__list
		li.categories__item
			a.categories__link(href="#") 
				+symbol('animals--dog','icon_animal')
				span Собаки

		li.categories__item.categories__item_parent
			a.categories__link(href="#")
				+symbol('animals--cat','icon_animal')
				span Кошки
				+symbol('arrow','icon icon_up')
			ul.categories__list
				li.categories__item.categories__item_parent
					a.categories__link(href="#") Корм сухой
						+symbol('arrow','icon icon_up')
					ul.categories__list
						li.categories__item
							a.categories__link(href="#") Корм очень сухой
						li.categories__item
							a.categories__link(href="#") Корм средней сухости
						li.categories__item
							a.categories__link(href="#") Корм не сухой
				li.categories__item
					a.categories__link(href="#") Корм консервированный
				li.categories__item
					a.categories__link(href="#") Заменители молока
				li.categories__item
					a.categories__link(href="#") Гигиенические наполнители
				li.categories__item
					a.categories__link(href="#") Витамины, минералы
				li.categories__item
					a.categories__link(href="#") Лакомства
				li.categories__item
					a.categories__link(href="#") Игрушки
				li.categories__item
					a.categories__link(href="#") Когтеточки
				li.categories__item
					a.categories__link(href="#") Места
				li.categories__item
					a.categories__link(href="#") Переноски, сумки
				li.categories__item
					a.categories__link(href="#") Расчески, щетки, пуходерки
				li.categories__item
					a.categories__link(href="#") Миски, поилки и кормушки
				li.categories__item
					a.categories__link(href="#") Намордники
				li.categories__item
					a.categories__link(href="#") Шампуни
				li.categories__item
					a.categories__link(href="#") Косметика и средства гигиены
				li.categories__item
					a.categories__link(href="#") Средства для дома

		li.categories__item
			a.categories__link(href="#")
				+symbol('animals--goldfish','icon_animal')
				span Аквариумистика

		li.categories__item
			a.categories__link(href="#")
				+symbol('animals--bird','icon_animal')
				span Птицы

		li.categories__item
			a.categories__link(href="#")
				+symbol('animals--rodents','icon_animal')
				span Грызуны

		li.categories__item
			a.categories__link(href="#")
				+symbol('animals--trifles','icon_animal')
				span Фретки

		li.categories__item
			a.categories__link(href="#")
				+symbol('animals--reptiles','icon_animal')
				span Рептилии

		li.categories__item
			a.categories__link(href="#")
				+symbol('animals--fish','icon_animal')
				span Пруд

		li.categories__item
			a.categories__link(href="#")
				+symbol('animals--horse','icon_animal')
				span Лошади

._row.mobile-cat-nav
	a.mobile-cat-nav__btn_back(href="catalog.html")
		+symbol('arrow', 'icon')
		span.mobile-cat-nav__btn_back-title arden grange

	a.mobile-cat-nav__btn_filters(href="#")
		+symbol('filter', 'icon')