// ====== banners ======= 
.banners
	.sidebar__banner
		p
			a(href="#")
				img(src="img/banners/banner_1.jpg", alt="")

	.sidebar__banner
		p
			a(href="#")
				img(src="img/banners/banner_2.jpg", alt="")