// ====== owl-carousel ======= 
.carousel-holder
	.owl-carousel(data-type="main")

		.carousel__item 
			img(src="img/slider/slide_1.jpg")
		.carousel__item 
			img(src="img/slider/slide_2.jpg")
		.carousel__item 
			img(src="img/slider/slide_3.jpg")
		.carousel__item 
			img(src="img/slider/slide_3.jpg")