// ====== catalog ======= 
.categories.categories_top
	._container
		ul.categories__list
			li.categories__item
				a.categories__link(href="/catalog.html")
					svg.icon
						use(xlink:href="#animals--dog")
					span.categories__item-name Cобаки
			li.categories__item
				a.categories__link(href="/catalog.html")
					svg.icon
						use(xlink:href="#animals--cat")
					span.categories__item-name Кошки
			li.categories__item
				a.categories__link(href="/catalog.html")
					svg.icon
						use(xlink:href="#animals--goldfish")
					span.categories__item-name Аквариумистика
			li.categories__item
				a.categories__link(href="/catalog.html")
					svg.icon
						use(xlink:href="#animals--bird")
					span.categories__item-name Птицы
			li.categories__item
				a.categories__link(href="/catalog.html")
					svg.icon
						use(xlink:href="#animals--rodents")
					span.categories__item-name Грызуны
			li.categories__item
				a.categories__link(href="/catalog.html")
					svg.icon
						use(xlink:href="#animals--trifles")
					span.categories__item-name Фретки
			li.categories__item
				a.categories__link(href="/catalog.html")
					svg.icon
						use(xlink:href="#animals--reptiles")
					span.categories__item-name Рептилии
			li.categories__item
				a.categories__link(href="/catalog.html")
					svg.icon
						use(xlink:href="#animals--fish")
					span.categories__item-name Пруд
			li.categories__item
				a.categories__link(href="/catalog.html")
					svg.icon
						use(xlink:href="#animals--horse")
					span.categories__item-name Лошади