// ====== contacts ======= 
.contacts
	._container
		._row
			.contacts-col
				.contacts-col__title
					span Контакты
					+symbol('arrow','icon')
				.contacts-col__content
					._row
						ul.contacts__phones
							li.contacts__phone
								a.contacts__phone-link(href="tel:0487654321") (048) 765 43 21
							li.contacts__phone
								a.contacts__phone-link(href="tel:0487654321") (048) 765 43 21
							li.contacts__phone
								a.contacts__phone-link(href="tel:0487654321") (048) 765 43 21

						ul.contacts__socials
							li.contacts__social
								a.contacts__social-link(href="skype:manager.zooklass") 
									+symbol('skype', 'icon')
									span manager.zooklass
							li.contacts__social
								a.contacts__social-link(href="icq:zooklass.manager")
									+symbol('icq', 'icon')
									span zooklass.manager

					.contacts__address 
						svg.icon
							use(xlink:href="#navigate")
						span г. Одесса, ул. Екатерининская, 22/4

			.contacts-col
				.contacts-col__title
					span Доставка
					+symbol('arrow','icon')
				.contacts-col__content
					p Как отмечает Майкл Мескон, баланс спроса и предложения переворачивает эмпирический стратегический рыночный план, осознав маркетинг производства. 
					p Диктат потребителя недостаточно отталкивает баинг и селлинг, не считаясь. Идеология выстраивания бренда откровенна.
					p Медиабизнес уравновешивает имидж отвоевывая рыночный сегмент.
			
			.contacts-col
				.contacts-col__title
					span Оплата
					+symbol('arrow','icon')
				.contacts-col__content
					p Такое понимание ситуации восходит к Эл Райс, при этом анализ рыночных цен усиливает SWOT-анализ, учитывая результат предыдущих медиа-кампаний. Надо сказать, что показ баннера основан на опыте.  Создание приверженного покупателя однородно усиливает фирменный. формат.события, повышая конкуренцию. Бизнес-план детерминирует межличностный пак-шот, оптимизируя бюджеты.
