// ====== header ======= 
header.header
	._container
		._row.header__menu
			.enter
				a.enter__link(href="#") Войти

			.main-menu
				ul.main-menu__list
					li.main-menu__item
						a.main-menu__link Мой Зоомагазин
					li.main-menu__item
						a.main-menu__link Справка
					li.main-menu__item
						a.main-menu__link Статьи
					li.main-menu__item
						a.main-menu__link Фотогалерея
					li.main-menu__item
						a.main-menu__link Доска обьявлений

			.basket
				a.basket__link(href="#") Корзина (пусто)
		
		._row.header__main
			.logo
				a.logo__link(href="/")
					img.logo__img.logo__img_desktop(src="img/logo_desktop.svg", alt="logo")
					img.logo__img.logo__img_tablet(src="img/logo_tablet.svg", alt="logo")
					img.logo__img.logo__img_mobile(src="img/logo_mobile.svg", alt="logo")

			.phones
				ul.phones__list
					li.phones__item
						a.phones__link(href="tel:0487654321") 8 (048) 765 43 21
					li.phones__item
						a.phones__link(href="tel:0487654321") 8 (048) 123 45 67
					//- li.phones__item
					//- 	a.phones__link(href="tel:0487654321") 8 (048) 765 43 21
					//- li.phones__item
					//- 	a.phones__link(href="tel:0487654321") 8 (048) 765 43 21
			
			form._row.form_search#form_search
				input.form_search__input(type="text" name="s" placeholder="Поиск ")
				button.button.form_search__button(type="submit")
					svg.icon
						use(xlink:href="#search")