extends ../main

block content
	// ====== catalog ======= 
	._container
		.page-404
			.page-404__title 404
			.page-404__subtitle Извините, страница не найдена
			a.page-404__link(href="/") Вернуться на главную