extends ../main

block content
	include ../section/categories

	include ../section/carousel


	// ====== main content ======= 
	.content.infopage
		._container
			._row
								
				// ====== aside ======= 
				aside.sidebar
					include ../section/aside
					include ../section/banners

				// ====== main ======= 
				main.main
					.breadcrumbs
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a.breadcrumbs__link(href="/") Главная
							li.breadcrumbs__item
								a.breadcrumbs__link(href="/catalog.html") доставка

					.title доставка

					.page-content
						p Адресная доставка по Киеву и Киевской области
						p Доставка в пределах Киева бесплатная при заказе на сумму от 1500 грн. Стоимость доставки заказов до 1500 грн составляет 35 грн.
						p Товары из раздела "Активный отдых и туризм", "Дом, сад" и "Детский мир" доставляются бесплатно при сумме заказа от 500 грн. 
						p Товары из раздела "Бытовая техника и интерьер" по Киеву доставляются бесплатно при сумме заказа от 800 грн, стоимость доставки заказов до 800 грн составляет 35 грн. Доставка товаров из данного раздела по Киеву и Украине осуществляется отдельно от доставки товаров из других разделов сайта.
						p Доставка уцененных товаров не осуществляется. Уцененные товары Вы можете приобрести в нашем выставочном зале.
						p По Киеву доставка большинства товаров осуществляется с 10:00 до 21:00 в рабочие дни, с 10:00 до 19:00 в субботу и с 10:00 до 17:00 воскресенье. Доставка товаров из раздела "Бытовая техника и интерьер" — с 10:00 до 13:00 и с 16:00 до 21:00, с понедельника по субботу. 
						p Обычно если вы разместили заказ до 12:00 — мы доставим его в тот же день. В любом случае во время заказа наши менеджеры сразу согласуют с вами время доставки.
						p Наши сотрудники оперативно доставят заказ по указанному вами адресу в удобное для вас время и продемонстрируют целостность, комплектность и работоспособность товара (для устройств, работающих автономно), а также оформят все необходимые документы. Из соображений безопасности проверка товара и товарно-денежный обмен производятся в автомобиле курьера. 
						p Крупногабаритные товары из разделов "Фитнес", и "Детский мир" (тренажеры, детские кроватки, детская мебель и т. д.) доставляются с 15:00 до 21:00 в будние дни до квартиры. При наличии лифта занос товара бесплатный, при отсутствии стоимость подъема определяется на месте в зависимости от габаритов, массы и сложности (20-50 грн/этаж).
						p Товары из раздела «Бытовая техника и интерьер» доставляются до квартиры. Подъём крупногабаритных товаров (от 50 кг) в квартиру бесплатный, если товар в упаковке помещается и поднимается на лифте. Стоимость ручного подъёма зависит от габаритов техники и сложности подъёма и составляет от 20 до 60 гривен. Крупногабаритная техника весом свыше 90 кг поднимается платно с учётом первого этажа (подачи к лифту, подъезду).
						p Доставка по Киевской области производится в следующие населенные пункты:
						p Барышевка, Белая Церковь, Белогородка, Березань, Бобрица, Богуслав, Борисполь, Борова, Бородянка, Бортничи, Боярка, Бровары, Буча, Бышев, Васильков, Велика Дымерка, Вишневое, Володарка, Ворзель, Вышгород, Гавриловка, Глеваха, Гоголев, Горенка, Гостомель, Гребени, Гребенки, Демидов, Дениховка, Дибровка, Дослидныцьке, Дымер, Загальцы, Згуровка, Иванков, Ирпень, Кагарлык, Калиновка, Калита, Кожанка, Козин, Коцюбинское, Красиловка, Лесники, Лукаши, Лютеж, Макаров, Медвин, Мироновка, Мотовиловка, Небелица, Новые Петровцы, Обухов, Панфилы, Переяслав-Хмельницкий, Пискивка, Ракитное, Ржищев, Розкишна, Русанов, Семиполки, Сквыра, Ставище, Старые Петровцы, Тараща, Тетиев, Требухов, Узин, Украинка, Устиновка, Фастов, Чайка, Шпитьки, Яготин.
						p Сроки доставки уточняйте, пожалуйста, у менеджера.
						p Стоимость доставки по Киевской области составляет 35 гривен.
						p Стоимость доставки товаров из раздела Бытовая техника и интерьер по Киевской области рассчитывается индивидуально.

	include ../section/contacts
