extends ../main

block content
	include ../section/categories
	
	include ../section/carousel

	// ====== main content ======= 
	.content
		._container
			._row
				
				include ../section/aside

					include ../section/filters
				
					include ../section/banners

				// ====== main ======= 
				main.main
					.breadcrumbs
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a.breadcrumbs__link(href="/") Главная
							li.breadcrumbs__item
								a.breadcrumbs__link(href="/catalog.html") Собаки 
							li.breadcrumbs__item
								a.breadcrumbs__link(href="/catalog.html") Сухой корм для собак
							li.breadcrumbs__item.breadcrumbs__item_active
								span.breadcrumbs__link Arden Grange

					.catalog
						._row.catalog__header
							.title.catalog__title arden grange
							.catalog__params
								.catalog__paging
									span Показать на странице:
									span.catalog__paging-link.catalog__paging-link_active 30
									a.catalog__paging-link(href="#") 50
									a.catalog__paging-link(href="#") все
								.catalog__view
									span.catalog__view-link.catalog__view-link_active(data-view="dots")
										+symbol('view_dots', 'icon')
									span.catalog__view-link(data-view="linear")
										+symbol('view_bars', 'icon')

						._row.catalog__products
							._row.product-mini
								a.product-mini__img-holder(href="/product.html")
									img.product-mini__img(src="img/products/product_2.jpg", alt="")
									.product-mini__badge.product-mini__badge_sale Акция
								.product-mini__desc
									a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
									.product-mini__body
										p Когтеточка-драпак с домиком для кошек всех возрастов - котят и взрослых  - помогает ухаживать за когтями вашего питомца, а также является замечательным местом для игр и отдыха. Комфортный и компактный этот городок непременно понравится вашему питомцу!
									.product-mini__price 150 грн
									button.button.product-mini__button В корзину

							._row.product-mini
								a.product-mini__img-holder(href="/product.html")
									img.product-mini__img(src="img/products/product_3.jpg", alt="")
									.product-mini__badge.product-mini__badge_top топ продаж
								.product-mini__desc
									a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
									.product-mini__body
										p Когтеточка-драпак с домиком для кошек всех возрастов - котят и взрослых  - помогает ухаживать за когтями вашего питомца, а также является замечательным местом для игр и отдыха. Комфортный и компактный этот городок непременно понравится вашему питомцу!
									.product-mini__price 150 грн
									button.button.product-mini__button В корзину

							._row.product-mini
								a.product-mini__img-holder(href="/product.html")
									img.product-mini__img(src="img/products/product_4.jpg", alt="")
									.product-mini__badge.product-mini__badge_rec Рекомендуем
								.product-mini__desc
									a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
									.product-mini__body
										p Когтеточка-драпак с домиком для кошек всех возрастов - котят и взрослых  - помогает ухаживать за когтями вашего питомца, а также является замечательным местом для игр и отдыха. Комфортный и компактный этот городок непременно понравится вашему питомцу!
									.product-mini__price 150 грн
									button.button.product-mini__button В корзину

							._row.product-mini
								a.product-mini__img-holder(href="/product.html")
									img.product-mini__img(src="img/products/product_5.jpg", alt="")
									.product-mini__badge.product-mini__badge_new новинка
								.product-mini__desc
									a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
									.product-mini__body
										p Когтеточка-драпак с домиком для кошек всех возрастов - котят и взрослых  - помогает ухаживать за когтями вашего питомца, а также является замечательным местом для игр и отдыха. Комфортный и компактный этот городок непременно понравится вашему питомцу!
									.product-mini__price 150 грн
									button.button.product-mini__button В корзину

							._row.product-mini
								a.product-mini__img-holder(href="/product.html")
									img.product-mini__img(src="img/products/product_6.jpg", alt="")
								.product-mini__desc
									a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
									.product-mini__body
										p Когтеточка-драпак с домиком для кошек всех возрастов - котят и взрослых  - помогает ухаживать за когтями вашего питомца, а также является замечательным местом для игр и отдыха. Комфортный и компактный этот городок непременно понравится вашему питомцу!
									.product-mini__price 150 грн
									button.button.product-mini__button В корзину

							._row.product-mini
								a.product-mini__img-holder(href="/product.html")
									img.product-mini__img(src="img/products/product_7.jpg", alt="")
								.product-mini__desc
									a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
									.product-mini__body
										p Когтеточка-драпак с домиком для кошек всех возрастов - котят и взрослых  - помогает ухаживать за когтями вашего питомца, а также является замечательным местом для игр и отдыха. Комфортный и компактный этот городок непременно понравится вашему питомцу!
									.product-mini__price 150 грн
									button.button.product-mini__button В корзину

							._row.product-mini
								a.product-mini__img-holder(href="/product.html")
									img.product-mini__img(src="img/products/product_8.jpg", alt="")
								.product-mini__desc
									a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
									.product-mini__body
										p Когтеточка-драпак с домиком для кошек всех возрастов - котят и взрослых  - помогает ухаживать за когтями вашего питомца, а также является замечательным местом для игр и отдыха. Комфортный и компактный этот городок непременно понравится вашему питомцу!
									.product-mini__price 150 грн
									button.button.product-mini__button В корзину

							._row.product-mini
								a.product-mini__img-holder(href="/product.html")
									img.product-mini__img(src="img/products/product_9.jpg", alt="")
								.product-mini__desc
									a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
									.product-mini__body
										p Когтеточка-драпак с домиком для кошек всех возрастов - котят и взрослых  - помогает ухаживать за когтями вашего питомца, а также является замечательным местом для игр и отдыха. Комфортный и компактный этот городок непременно понравится вашему питомцу!
									.product-mini__price 150 грн
									button.button.product-mini__button В корзину

							._row.product-mini
								a.product-mini__img-holder(href="/product.html")
									img.product-mini__img(src="img/products/product_10.jpg", alt="")
								.product-mini__desc
									a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
									.product-mini__body
										p Когтеточка-драпак с домиком для кошек всех возрастов - котят и взрослых  - помогает ухаживать за когтями вашего питомца, а также является замечательным местом для игр и отдыха. Комфортный и компактный этот городок непременно понравится вашему питомцу!
									.product-mini__price 150 грн
									button.button.product-mini__button В корзину

					.btn-holder
						button.button.product-mini__more
							svg.icon
								use(xlink:href="#reload")
							span Больше товаров
							
	include ../section/contacts