extends ../main

block content
	// ====== catalog ======= 
	.catalog
		._container
			ul.catalog__list
				li.catalog__item
					a.catalog__link(href="#")
						svg.icon
							use(xlink:href="#animals--dog")
						span.catalog__item-name Cобаки
				li.catalog__item
					a.catalog__link(href="#")
						svg.icon
							use(xlink:href="#animals--cat")
						span.catalog__item-name Кошки
				li.catalog__item
					a.catalog__link(href="#")
						svg.icon
							use(xlink:href="#animals--goldfish")
						span.catalog__item-name Аквариумистика
				li.catalog__item
					a.catalog__link(href="#")
						svg.icon
							use(xlink:href="#animals--bird")
						span.catalog__item-name Птицы
				li.catalog__item
					a.catalog__link(href="#")
						svg.icon
							use(xlink:href="#animals--rodents")
						span.catalog__item-name Грызуны
				li.catalog__item
					a.catalog__link(href="#")
						svg.icon
							use(xlink:href="#animals--trifles")
						span.catalog__item-name Фретки
				li.catalog__item
					a.catalog__link(href="#")
						svg.icon
							use(xlink:href="#animals--reptiles")
						span.catalog__item-name Рептилии
				li.catalog__item
					a.catalog__link(href="#")
						svg.icon
							use(xlink:href="#animals--fish")
						span.catalog__item-name Пруд
				li.catalog__item
					a.catalog__link(href="#")
						svg.icon
							use(xlink:href="#animals--horse")
						span.catalog__item-name Лошади

	// ====== owl-carousel ======= 
	.owl-carousel(data-type="main")

		.carousel__item 
			img(src="img/slider/slide_1.jpg")
		.carousel__item 
			img(src="img/slider/slide_2.jpg")
		.carousel__item 
			img(src="img/slider/slide_3.jpg")
		.carousel__item 
			img(src="img/slider/slide_3.jpg")

	// ====== main content ======= 
	.content
		._container
			._row
				// ====== aside ======= 
				aside.sidebar
					.sidebar__title каталог товаров

					ul.sidebar__list
						li.sidebar__item
							a.sidebar__link(href="#") Собаки

						li.sidebar__item.sidebar__item_parent
							a.sidebar__link(href="#") Кошки
								+symbol('arrow','icon')
							ul.sidebar__list
								li.sidebar__item.sidebar__item_parent
									a.sidebar__link(href="#") Корм сухой
										+symbol('arrow','icon')
									ul.sidebar__list
										li.sidebar__item
											a.sidebar__link(href="#") Корм очень сухой
										li.sidebar__item
											a.sidebar__link(href="#") Корм средней сухости
										li.sidebar__item
											a.sidebar__link(href="#") Корм не сухой
								li.sidebar__item
									a.sidebar__link(href="#") Корм консервированный
								li.sidebar__item
									a.sidebar__link(href="#") Заменители молока
								li.sidebar__item
									a.sidebar__link(href="#") Гигиенические наполнители
								li.sidebar__item
									a.sidebar__link(href="#") Витамины, минералы
								li.sidebar__item
									a.sidebar__link(href="#") Лакомства
								li.sidebar__item
									a.sidebar__link(href="#") Игрушки
								li.sidebar__item
									a.sidebar__link(href="#") Когтеточки
								li.sidebar__item
									a.sidebar__link(href="#") Места
								li.sidebar__item
									a.sidebar__link(href="#") Переноски, сумки
								li.sidebar__item
									a.sidebar__link(href="#") Расчески, щетки, пуходерки
								li.sidebar__item
									a.sidebar__link(href="#") Миски, поилки и кормушки
								li.sidebar__item
									a.sidebar__link(href="#") Намордники
								li.sidebar__item
									a.sidebar__link(href="#") Шампуни
								li.sidebar__item
									a.sidebar__link(href="#") Косметика и средства гигиены
								li.sidebar__item
									a.sidebar__link(href="#") Средства для дома

						li.sidebar__item
							a.sidebar__link(href="#") Аквариумистика

						li.sidebar__item
							a.sidebar__link(href="#") Птицы

						li.sidebar__item
							a.sidebar__link(href="#") Грызуны

						li.sidebar__item
							a.sidebar__link(href="#") Фретки

						li.sidebar__item
							a.sidebar__link(href="#") Рептилии

						li.sidebar__item
							a.sidebar__link(href="#") Пруд

						li.sidebar__item
							a.sidebar__link(href="#") Лошади

					.sidebar__banner
						p
							img(src="img/banners/banner_1.jpg", alt="")
					
					.sidebar__banner
						p
							img(src="img/banners/banner_2.jpg", alt="")


				// ====== main ======= 
				main.main
					._row.products
						.product-mini
							a.product-mini__img-holder(href="#")
								img.product-mini__img(src="img/products/product_1.jpg", alt="")
							a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
							.product-mini__price 150 грн
							button.button.product-mini__button В корзину
							
						.product-mini
							a.product-mini__img-holder(href="#")
								img.product-mini__img(src="img/products/product_1.jpg", alt="")
							a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
							.product-mini__price 150 грн
							button.button.product-mini__button В корзину
							
						.product-mini
							a.product-mini__img-holder(href="#")
								img.product-mini__img(src="img/products/product_1.jpg", alt="")
							a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
							.product-mini__price 150 грн
							button.button.product-mini__button В корзину
							
						.product-mini
							a.product-mini__img-holder(href="#")
								img.product-mini__img(src="img/products/product_1.jpg", alt="")
							a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
							.product-mini__price 150 грн
							button.button.product-mini__button В корзину
							
						.product-mini
							a.product-mini__img-holder(href="#")
								img.product-mini__img(src="img/products/product_1.jpg", alt="")
							a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
							.product-mini__price 150 грн
							button.button.product-mini__button В корзину
							
						.product-mini
							a.product-mini__img-holder(href="#")
								img.product-mini__img(src="img/products/product_1.jpg", alt="")
							a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
							.product-mini__price 150 грн
							button.button.product-mini__button В корзину

						.product-mini
							a.product-mini__img-holder(href="#")
								img.product-mini__img(src="img/products/product_1.jpg", alt="")
							a.product-mini__title(href="#") Когтеточка Trixie 43771 Valencia
							.product-mini__price 150 грн
							button.button.product-mini__button В корзину

					.btn-holder
						button.button.product-mini__more
							svg.icon
								use(xlink:href="#reload")
							span Больше товаров



