/*! ===== header styles ===== */

header.header {
	position: relative;
	padding: 25px 15px;
  background: #2d87c6 url(../img/bg_header.jpg) center no-repeat;
  background-size: cover;
  font: 16px $OpenSans-Semibold;
  color: #fff;
}

.header__main {
	margin-top: 25px;
	font-size: 0;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	max-width: 180px;
	font-size: 16px;
}

.logo__link {

}

.logo__img {

}

.logo__img_desktop {

}

.logo__img_tablet {
	display: none;
}

.logo__img_mobile {
	display: none;
}

.phones {
	display: inline-block;
	vertical-align: middle;
	width: 45%;
	font-size: 16px;
	text-align: center;
}

.phones__list-holder {
	position: relative;
	min-height: 34px;

	@include media(992) {
		width: 60%;
		margin: 0 auto;
	}
	@include media(768) {
		width: 75%;
	}

	.icon {
		display: none;
		position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    width: 15px;
    height: 15px;
    fill: #fff;

    &:hover {
			fill: $pink;
    	cursor: pointer;
    }

  	@include media(992) {
			display: block;
		}
	}

	&_show {
		.phones__list {
			height: auto;
		}

		.icon {
			transform: translateY(-50%) rotate(-90deg);
		}
	}
}

.phones__list {

	@include media(992) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 34px;
		overflow: hidden;
		background: #2d87c6 url(../img/bg_header.jpg) center no-repeat;
		transition: all 0.5s;
	}

}

.phones__item {
	display: inline-block;
	margin-left: 30px;

	@include media(992) {
		margin: 0;
	}
}

.phones__link {
	display: inline-block;
	font: 25px $OpenSans-Semibold;
	color: #fff;

	&:hover {
		color: $pink;
		text-shadow: 0 0 5px #fff;
	}
}


.form_search {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 40%;
	max-width: 500px;
	border-radius: 50px;
	overflow: hidden;
	font-size: 16px;
}

.form_search__input {
	width: 100%;
	height: 50px;
	border-radius: 50px;
	padding: 10px 20px;
}

.form_search__button {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	padding: 10px 20px;
	text-align: center;
	background-color: $lazure;

	&:hover {
		background-color: darken($lazure, 10%);
	}
	
	.icon {
		width: 30px;
		height: 30px;
		fill: #fff;

	}
}


// .header__menu 
.header__menu {
	a {
		color: #fff;

		&:hover {
			color: $pink;
			text-shadow: 0 0 5px #fff;
		}
	}

	@include media(992) {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 999;

		a {
			color: #000;
		}
	}
}

.menu {
	
}

.enter {
	float: left;
	width: 12%;
	max-width: 180px;

	@include media(992) {
		float: none;
		width: 100%;
		max-width: inherit;
		text-align: center;
	}
}

.enter__link {
	display: inline-block;
	@include media(992) {
		width: 100%;
		padding: 15px 0;

		&:before {
			content: '\f090';
			display: inline-block;
			margin-right: 10px;
			font-family: $FontAwesome;
		}
	}
}

.main-menu {
	float: left;
	width: 73%;

	@include media(992) {
		float: none;
		width: 100%;
		text-align: center;
	}
}

.main-menu__list {

}

.main-menu__item {
	display: inline-block;
	margin-left: 30px;

	@include media(992) {
		width: 100%;
		margin: 0;
		text-align: center;
	}
}

.main-menu__link {
	display: inline-block;

	@include media(992) {
		width: 100%;
		padding: 15px 0;
	}
}

.basket {
	float: right;
	width: 14%;
	max-width: 180px;

	@include media(992) {
		display: none;
	}
}

.basket__link {

}
