/*! ===== header styles ===== */

header.header {
	position: relative;
	padding: 25px 15px;
  background: #2d87c6 url(../img/bg_header.jpg) center no-repeat;
  background-size: cover;
  font: 16px $OpenSans-Semibold;
  color: #fff;

  @include media(992) {
  	padding: 15px;
  }
}

.header__main {
	margin-top: 25px;
	font-size: 0;

  @include media(992) {
  	margin: 0;
  }
}

.logo {
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	max-width: 180px;
	font-size: 16px;
}

.logo__link {

}

.logo__img {

}

.logo__img_desktop {

}

.logo__img_tablet {
	display: none;
}

.logo__img_mobile {
	display: none;
}

.phones {
	display: inline-block;
	vertical-align: middle;
	width: 45%;
	font-size: 16px;
	text-align: center;

	@include media(992) {
		width: 50%;		
	}
	@include media(480) {
		display: none;
	}
}

.phones__list-holder {
	position: relative;
	min-height: 34px;

	@include media(992) {
		width: 60%;
		margin: 0 auto;
	}
	@include media(768) {
		width: 75%;
	}

	.icon {
		display: none;
		position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    width: 15px;
    height: 15px;
    fill: #fff;

    &:hover {
			fill: $pink;
    	cursor: pointer;
    }

  	@include media(992) {
			display: block;
		}
	}

	&_show {
		.phones__list {
			height: auto;
		}

		.icon {
			transform: translateY(-50%) rotate(-90deg);
		}
	}
}

.phones__list {

	@include media(992) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 34px;
		overflow: hidden;
		background: #2d87c6 url(../img/bg_header.jpg) center no-repeat;
		transition: all 0.5s;
		z-index: 9999;
	}

}

.phones__item {
	display: inline-block;
	margin-left: 30px;

	@include media(992) {
		margin: 0;
	}
}

.phones__link {
	display: inline-block;
	font: 25px $OpenSans-Semibold;
	color: #fff;

	&:hover {
		color: $pink;
		text-shadow: 0 0 5px #fff;
	}

	@include media(640) {
		font-size: 20px;
	}

}

.header__right {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	max-width: 500px;

	@include media(992) {
		width: 35%;		
	}
	@include media(480) {
		width: 85%;		
	}
}

.form_search {
	position: relative;
	border-radius: 50px;
	overflow: hidden;
	font-size: 16px;


	@include media(992) {
		display: none;
		position: absolute;
		top: 101%;
		left: 0;
		width: 100%;
		max-width: 100%;
		background-color: #fff;
		border: 1px solid $lazure;
		z-index: 999;
	}
}

.form_search__input {
	width: 100%;
	height: 50px;
	border-radius: 50px;
	padding: 10px 20px;
}

.form_search__button {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	padding: 10px 20px;
	text-align: center;
	background-color: $lazure;

	&:hover {
		background-color: darken($lazure, 10%);
	}
	
	.icon {
		width: 30px;
		height: 30px;
		fill: #fff;

	}
}

.mobile-btns {
	display: none;
	text-align: right;

	.btn {
		display: inline-block;
		vertical-align: middle;
		width: 35px;
		height: 35px;
		margin-left: 15px;

		&_search-close {
			position: relative;

			&:after {
				content: '\f00d';
				@include center-translate();
				top: 40%;
				left: 40%;
				font-family: $FontAwesome;
				font-size: 16px;
				transition: all 0.5s;
			}
		}

		&_basket-full {
			position: relative;

			&:after {
				content: '\f06b';
				@include center-translate();
				top: 0;
				left: 60%;
				font-family: $FontAwesome;
				font-size: 16px;
				transition: all 0.5s;
			}
		}
		
		.icon {
			width: 100%;
			height: 100%;
			fill: #fff;
		  transition: all 0.5s;
		}

		&:hover {
			color: rgba(#fff, 0.5);

			.icon {
			  fill: rgba(#fff, 0.5);
			}
		}
	}

	@include media(992) {
		display: block;
	}
}

// burger menu
.burger {
	position: relative;
	width: 35px;
	height: 35px;
	padding: 0;
	border: none;
	cursor: pointer;
	overflow: hidden;

	&:hover .burger__bar {
	  background-color: rgba(#fff, 0.5);
	}

	@include media(640) {
		display: block;
		float: right;
		cursor: pointer;
	}

}

.burger_close {

}

.burger__bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  border-radius: 5px;
	background-color: #fff;
  transition: all 0.5s;
}

.burger__bar_top {
	top: 20%;
}

.burger_close .burger__bar {
	width: 100%;
}

.burger_close .burger__bar_top {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.burger__bar_mid {
	top: 50%;
  transform: translate(-50%, -50%);
}

.burger_close .burger__bar_mid {
  transform: translate(-200%, -50%);
}

.burger__bar_bot {
	bottom: 20%;
}

.burger_close .burger__bar_bot {
	bottom: 0;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}



// .header__menu 
.header__menu {
	a {
		color: #fff;

		&:hover {
			color: $pink;
			text-shadow: 0 0 5px #fff;
		}
	}

	@include media(992) {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 999;

		a {
			color: #000;
		}
	}
}

.menu {
	
}

.enter {
	float: left;
	width: 12%;
	max-width: 180px;

	@include media(992) {
		float: none;
		width: 100%;
		max-width: inherit;
		text-align: center;
	}
}

.enter__link {
	display: inline-block;
	@include media(992) {
		width: 100%;
		padding: 15px 0;

		&:before {
			content: '\f090';
			display: inline-block;
			margin-right: 10px;
			font-family: $FontAwesome;
		}
	}
}

.main-menu {
	float: left;
	width: 73%;

	@include media(992) {
		float: none;
		width: 100%;
		text-align: center;
	}
}

.main-menu__list {

}

.main-menu__item {
	display: inline-block;
	margin-left: 30px;

	@include media(992) {
		width: 100%;
		margin: 0;
		text-align: center;
	}
}

.main-menu__link {
	display: inline-block;

	@include media(992) {
		width: 100%;
		padding: 15px 0;
	}
}

.basket {
	float: right;
	width: 14%;
	max-width: 180px;

	@include media(992) {
		display: none;
	}
}

.basket__link {

}
